@avatar_wh:130px; 

body{
	background-image: url(https://unsplash.it/1920/1200/?image=494);
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
}
.container{
	width: 960px;
	margin:200px auto 500px auto;
	background-color: #666;
}

.main-header{

	background-image: url(https://unsplash.it/1000/240/?image=307);
	padding: 1px;
	&__avatar{
		background-image: url(../img/av1.jpg);
		display: block;
		width: @avatar_wh;
		height: @avatar_wh;
		margin: 0 auto;
		margin-top: -60px;
		margin-bottom: 1px;
		border: 3px solid white;

		border-radius: 999px;
		box-shadow: 0 0px 2px 1px rgba(0,0,0,0.2);
		&:hover{
			background-image: url(../img/av2.jpg);
		}
	}

	h1{
		margin: 5px auto;
		text-align: center;
		color:white;
		font-size: 50px;
		font-weight: 300;
		font-family: 'Open Sans','helvetica',arial,sans-serif;
		text-shadow: 0 1px rgba(0,0,0,0.3);
	}
}