/* entire container, keeps perspective */
.flip-container {
  perspective: 1000;
  margin: -40 auto;
}
/* flip the pane when hovered */
.flip-container:hover .flipper,
.flip-container.hover .flipper {
  transform: rotateY(180deg);
}
.flip-container,
.front,
.back {
  width: 130px;
  height: 130px;
}
/* flip speed goes here */
.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}
/* hide back of pane during swap */
.front,
.back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
/* front pane, placed above back */
.front {
  z-index: 2;
  /* for firefox 31 */
  transform: rotateY(0deg);
}
/* back, initially hidden pane */
.back {
  transform: rotateY(180deg);
}
body {
  background-image: url(https://unsplash.it/1920/1200/?image=494);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  font-family: 'Open Sans', 'helvetica', arial, sans-serif;
  font-weight: 300;
  color: #62686f;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #333;
  font-weight: 300;
}
.container {
  width: 960px;
  margin: 200px auto 500px auto;
  background-color: #334;
}
.main-header {
  background-image: url(https://unsplash.it/1000/240/?image=307);
  padding: 1px;
}
.main-header__avatar {
  background-image: url(../img/av1.jpg);
  display: block;
  width: 130px;
  height: 130px;
  margin: 0 auto;
  margin-top: -40px;
  border: 3px solid white;
  border-radius: 999px;
  box-shadow: 0 0px 2px 1px rgba(0, 0, 0, 0.2);
}
.main-header__avatar__back {
  background-image: url(../img/av2.jpg);
  display: block;
  width: 130px;
  height: 130px;
  margin: 0 auto;
  margin-top: -30px;
  margin-bottom: 1px;
  border: 3px solid white;
  border-radius: 999px;
  box-shadow: 0 0px 2px 1px rgba(0, 0, 0, 0.2);
}
.main-header h1 {
  margin: 5px auto;
  text-align: center;
  color: white;
  font-size: 50px;
  font-weight: 300;
  font-family: 'Open Sans', 'helvetica', arial, sans-serif;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
}
.main-nav {
  text-align: center;
  background-color: #F39772;
  list-style: none;
  padding: 1px;
  margin: 0;
}
.main-nav ul {
  margin: 0 auto;
}
.main-nav ul li {
  width: 80px;
  margin: 15px 10px;
  display: inline-block;
}
.main-nav ul li a {
  color: #fff;
  font-size: 0.9rem;
  font-weight: 300;
  text-transform: uppercase;
  text-decoration: none;
}
.main-nav ul li a:hover {
  text-decoration: underline;
}
.whatido {
  height: 360px;
}
.education-experience {
  height: 750px;
}
.info-section {
  padding: 20px 60px;
  background-color: #fff;
}
.info-section header h2 {
  text-align: center;
  font-size: 28px;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.info-section header h2:after {
  content: "";
  width: 100px;
  height: 2px;
  display: block;
  margin: 10 auto;
  border-bottom: 2px solid #666;
}
.info-section__description {
  text-align: center;
  font-style: italic;
}
.info-section .whatido__skill-list {
  text-align: center;
  padding: 0;
  margin: 0;
  list-style: none;
}
.info-section .whatido__skill {
  float: left;
  padding-top: 120px;
  background-repeat: no-repeat;
  background-position: center top;
}
.info-section .whatido__skill--code {
  width: 33.3333333%;
  background-image: url(../img/skill-code.png);
}
.info-section .whatido__skill--design {
  width: 33.3333333%;
  background-image: url(../img/skill-design.png);
}
.info-section .whatido__skill--product {
  width: 33.3333333%;
  background-image: url(../img/skill-product.png);
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.education-experience__list {
  list-style: none;
  padding: 1px;
}
.education-experience__list li {
  margin: 20 auto;
}
.education-experience__list li img {
  float: left;
  margin-left: 70px;
  width: 180px;
  height: 180px;
}
.education-experience__list li .imgright {
  float: right;
}
.education-experience__list .content {
  text-align: justify;
  height: 180px;
  width: 450px;
  margin: 0 auto;
  margin-bottom: 60px;
  overflow: hidden;
}
.education-experience__list .content h3 {
  text-align: center;
  font-weight: bold;
}
.education-experience__list .content .education-experience__title {
  text-align: center;
  font-style: italic;
}
.photos .photos__list {
  overflow: hidden;
  width: 640px;
  margin: 0 auto;
  margin-top: 50px;
}
.photos .photos__list li {
  box-sizing: border-box;
  float: left;
  padding: 10px;
  width: 33.3333%;
}
.photos .photos__list li img {
  width: 100%;
}
.get-in-touch .get-in-touch__list {
  overflow: hidden;
  width: 640px;
  margin: 0 auto;
  margin-top: 50px;
}
.get-in-touch .get-in-touch__list li {
  box-sizing: border-box;
  float: left;
  padding: 20px;
  width: 25%;
}
.get-in-touch .get-in-touch__list li img {
  width: 100%;
}
.contact input,
.contact textarea {
  border: 1px solid #ccc;
  border-radius: 4px;
}
.contact button {
  height: 60px;
  border: none;
  border-radius: 9999px;
  background: #ffd524;
  cursor: pointer;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  color: #fff;
  box-shadow: 0 3px 0 #daae1d;
}
.contact form {
  text-align: justify;
  position: relative;
  width: 40%;
  margin: 0 auto;
}
.contact form label,
.contact form input,
.contact form textarea,
.contact form button {
  margin-bottom: 8px;
  width: 100%;
}
.contact form .smallbox {
  position: relative;
}
.contact form .smallbox label {
  text-align: right;
  position: absolute;
  top: 0;
  left: -102%;
  width: 100%;
}
