body {
  background-image: url(https://unsplash.it/1920/1200/?image=494);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  font-family: 'Open Sans', 'helvetica', arial, sans-serif;
  font-weight: 300;
  color: #62686f;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #333;
  font-weight: 300;
}
.container {
  width: 960px;
  margin: 200px auto 500px auto;
  background-color: #334;
}
.main-header {
  background-image: url(https://unsplash.it/1000/240/?image=307);
  padding: 1px;
}
.main-header__avatar {
  background-image: url(../img/av1.jpg);
  display: block;
  width: 130px;
  height: 130px;
  margin: 0 auto;
  margin-top: -60px;
  margin-bottom: 1px;
  border: 3px solid white;
  border-radius: 999px;
  box-shadow: 0 0px 2px 1px rgba(0, 0, 0, 0.2);
}
.main-header__avatar:hover {
  background-image: url(../img/av2.jpg);
}
.main-header h1 {
  margin: 5px auto;
  text-align: center;
  color: white;
  font-size: 50px;
  font-weight: 300;
  font-family: 'Open Sans', 'helvetica', arial, sans-serif;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
}
.main-nav {
  text-align: center;
  background-color: #3CB371;
  list-style: none;
  padding: 0;
  margin: 0;
}
.main-nav ul {
  margin-top: 0px;
}
.main-nav ul li {
  margin: 15px 10px;
  display: inline-block;
}
.main-nav ul li a {
  color: #fff;
  font-size: 0.9rem;
  font-weight: 300;
  text-transform: uppercase;
  text-decoration: none;
}
.main-nav ul li a:hover {
  text-decoration: underline;
}
.info-section {
  padding: 30px 60px;
  margin-top: -20px;
  background-color: #fff;
  text-align: center;
}
.info-section header {
  margin-bottom: 60px;
}
.info-section header h2 {
  font-size: 28px;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.info-section header h2:after {
  margin: 10 auto;
  display: block;
  content: "";
  height: 2px;
  width: 100px;
  border-bottom: 2px solid #666;
}
.info-section__description {
  font-style: italic;
}
.info-section .whatido__skill-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.info-section .whatido__skill {
  float: left;
  padding-top: 120px;
  background-repeat: no-repeat;
  background-position: center top;
}
.info-section .whatido__skill--code {
  width: 33%;
  background-image: url(../img/skill-code.png);
}
.info-section .whatido__skill--design {
  width: 33%;
  background-image: url(../img/skill-design.png);
}
.info-section .whatido__skill--product {
  width: 33%;
  background-image: url(../img/skill-product.png);
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
